@mixin shop-ui-empty-state($name: '.empty-state') {
    #{$name} {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        text-wrap: pretty;
        font-size: 1rem;
        max-width: 40rem;
        margin: 2.8rem auto;

        &__icon {
            width: 5.62rem;
            height: 5.62rem;
            margin-bottom: 1.75rem;
            color: $setting-color-main;
        }

        &__title {
            font-size: 1.75rem;
            font-weight: 600;
            margin: 0 0 1rem;
        }

        &__description {
            margin: 0 0 1.75rem;
        }

        @content;
    }
}
