@use 'sass:meta';

@mixin shop-ui-label($name: '.label') {
    #{$name} {
        @if meta.mixin-exists(shop-ui-label-base-hook) {
            @include shop-ui-label-base-hook;
        }

        &--required {
            &::after {
                content: '*';
                margin-left: 0.2rem;
                color: $setting-color-main;
            }
        }

        @content;
    }
}
