@use 'sass:map';
@use 'sass:meta';

@mixin shop-ui-autocomplete-form($name: '.autocomplete-form') {
    #{$name} {
        position: relative;

        @if meta.mixin-exists(shop-ui-autocomplete-form-base-hook) {
            @include shop-ui-autocomplete-form-base-hook;
        }

        &__suggestions {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            z-index: $setting-zi-element + 2;
            margin: 0;
        }

        &__item {
            cursor: pointer;
            padding: map.get($setting-spacing, 'default');

            &:hover {
                background-color: $setting-color-dark;
            }
        }

        @content;
    }
}
