@use 'sass:meta';

@mixin shop-ui-money-price($name: '.money-price') {
    #{$name} {
        display: block;

        @if meta.mixin-exists(shop-ui-money-price-base-hook) {
            @include shop-ui-money-price-base-hook;
        }

        &__amount {
            @include helper-font-size(big);

            &--original {
                @include helper-font-size(small);
                display: block;
                color: $setting-color-dark;
                text-decoration: line-through;
            }
        }

        &__tag {
            margin-right: 0.25rem;
            color: $setting-color-alt;
        }

        @content;
    }
}
