@mixin shop-ui-status($name: '.status') {
    @include shop-ui-badge($name) {
        &--availability {
            padding: 0 0.75rem 0 1.875rem;
            position: relative;
            background-color: helper-color-light($setting-color-main);
            color: $setting-color-black;
            line-height: 1.625rem;
            border-radius: 0.25rem;

            &::before {
                content: '';
                position: absolute;
                left: 0.75rem;
                top: 50%;
                translate: 0 -50%;
                width: 0.625rem;
                aspect-ratio: 1;
                background-color: $setting-color-main;
                border-radius: 100%;
            }
        }

        &--out-of-stock {
            background-color: helper-color-light(map-get($setting-color-actions, 'alert'));

            &::before {
                background-color: map-get($setting-color-actions, 'alert');
            }
        }

        &--in-stock,
        &--never-out-of-stock,
        &--available {
            background-color: helper-color-light(map-get($setting-color-actions, 'success'));

            &::before {
                background-color: map-get($setting-color-actions, 'success');
            }
        }

        &--running-low {
            background-color: helper-color-light(map-get($setting-color-actions, 'warning'));

            &::before {
                background-color: map-get($setting-color-actions, 'warning');
            }
        }

        &--rejected,
        &--in-progress,
        &--refunded {
            background-color: helper-color-light(map-get($setting-color-actions, 'alert'));
            color: helper-color-dark(map-get($setting-color-actions, 'alert'));
        }

        &--approved,
        &--ready,
        &--paid,
        &--delivered,
        &--configured {
            background-color: helper-color-light(map-get($setting-color-actions, 'success'));
            color: helper-color-dark(map-get($setting-color-actions, 'success'));
        }

        &--pending,
        &--waiting,
        &--payment-pending,
        &--confirmed,
        &--sent-to-merchant,
        &--shipped-by-merchant,
        &--exported,
        &--not-configured {
            background-color: helper-color-light(map-get($setting-color-actions, 'warning'));
            color: helper-color-dark(map-get($setting-color-actions, 'warning'));
        }

        &--closed {
            background-color: helper-color-light($setting-color-darkest);
            color: helper-color-dark($setting-color-darkest);
        }

        &--cancelled,
        &--canceled,
        &--ready-for-return,
        &--returned,
        &--waiting-for-return,
        &--return-canceled {
            background-color: helper-color-light($setting-color-darker);
            color: helper-color-dark($setting-color-darker);
        }

        &--draft {
            background-color: helper-color-light($setting-color-alt);
            color: helper-color-dark($setting-color-alt);
        }

        &--text-bold {
            @include helper-font-weight(bold);
        }

        @content;
    }
}
